<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">Asp.net Web App</div>
            <ul>
                <li><a href="/employee/emp-detail">EmplDetails</a></li>
                <li><a href="/employee/dept-detail">DeptDetails</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact-us">Contact-Us</a></li>
            </ul>
            <ul>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
    <div>
       
    </div>
</body>
</html>
